.background {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home {
    background-image: url("static/moonrise.jpg");
}
.about {
    background-image: url("static/flagstaff.jpg");
}
.engineering {
    background-image: url("static/senior_design.jpg");
}
.photography {
    background-image: url("static/chasm.jpg");
}

button.transparent {
    background: Transparent no-repeat;
    text-align: center;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    outline: none;
    font-size: 20px;
    transition-duration: 0.15s;
}
button.transparent:hover {
    color: white;
}
button.gold {
    color: goldenrod;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.bottom {
    position: absolute;
    bottom: 5px;
    width: 98.5%;
}

.social-icons {
    text-align: center;
}
.social-icons li {
    display: inline-block;
    list-style-type: none;
}
.social-icons li a {
    border-bottom: none;
}
.social-icons li img {
    margin-right: 20px;
}

.text-container {
    width: 40%;
    min-width: 400px;
    max-width: 600px;
    margin: auto;
}

p {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    font-size: 16px;
    line-height: 1.55;
}

p.caption {
    font-size: 14px;
    line-height: 1.2;
}

.photo-container {
    width: 80%;
    min-width: 400px;
    margin: auto;
}

.full-size-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
